@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat-Regular.woff2');
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgb(120, 132, 239);
  padding: 10px 0;
  font-family: Montserrat;
  &-text {
    flex: none;
    padding: 0 10px;
  }
  &-logo {
    display: block;
    width: 80px;
    height: 30px;
    flex: none;
  }
}
main {
  padding-top: 50px;
}